.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    width: 100%;
  }
  
  .content {
    display: flex;
    margin: 0;
  }
  
  .content > * {
    margin-right: 1rem;
  }

  .content {
    /* ... */
    animation: slide-right-to-left 3s linear infinite;
  }
  
  @keyframes slide-right-to-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }